font-family = FantasqueSansM Nerd Font Mono

font-style = Italic
font-style-bold = Bold Italic
font-style-italic = Italic
font-style-bold-italic = Bold Italic
bold-is-bright = true

# Ghostty title
title = 👻 Ghostty

# Bind ctrl + [ to the escape key
keybind = ctrl+[=text:\x1b

# some transparency is good for life
background-opacity = 0.7

theme = light:catppuccin-latte,dark:catppuccin-macchiato

# Load specific linux or darwin configuration
config-file = ?linux
config-file = ?darwin

# Allow setting up configs out of nix
config-file = ?custom
