font-family = FantasqueSansM Nerd Font

# Theme
theme = catppuccin-frappe

# Ghostty title
title = 👻 Ghostty

# Bind ctrl + [ to the escape key
keybind = ctrl+[=text:\x1b

# no transparency
background-opacity = 0.7

# for now let's use window decorations
window-decoration = true

# Allow setting up configs out of nix
config-file = ?custom
