font-family = FantasqueSansM Nerd Font

# Ghostty title
title = 👻 Ghostty

# Bind ctrl + [ to the escape key
keybind = ctrl+[=text:\x1b

# some transparency is good for life
background-opacity = 0.7

theme = light:catppuccin-latte,dark:catppuccin-macchiato

# Load specific linux or darwin configuration
config-file = ?linux
config-file = ?darwin

# Allow setting up configs out of nix
config-file = ?custom
